<div class="input-wrapper">
    <label class="header-label">Sign in to Spartan Dining Guide</label>
    <span class="p-input-icon-left user-name-input">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="userName" placeholder="Username">         
    </span>
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="password" placeholder="Password">         
    </span>
    <button pButton pRipple type="button" label="Login" class="p-button-secondary p-button-rounded p-button-lg submit" (click)="ls.login(userName, password)"></button>
    <label *ngIf="ls.failed" class="failed-alert">Incorrect User Name or Password</label>
</div>
