<!-- Top bar -->
<div class="top-bar">
    <label>Spartan Dining Guide</label>
    <button pButton pRipple type="button" icon="pi pi-user" label="Profile" (click)="showUserPage()" class="p-button-text p-button-lg profile-btn"></button>
</div>
<div class="home-body">
    <div *ngIf="viewRests" class="data-view">
        <p-dataView [value]="restaurants" [sortField]="sortField" [sortOrder]="sortOrder" [paginator]="true" [rows]="6">
            <ng-template pTemplate="header">Local Restaurants
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
                (onChange)="onSortChange($event)" [style]="{'min-width':'15em'}"></p-dropdown>
            </ng-template>
            <ng-template let-restaurant pTemplate="listItem">
                <div class="p-col-12">
                    <div class="rest-list-item">
                        <div class="rest-list-detail">
                            <div class="rest-name">{{restaurant.restaurant_name}}</div>
                            <div class="rest-description">{{restaurant.cuisine[0].toUpperCase() + restaurant.cuisine.substring(1)}}</div>
                            <i class="pi pi-phone rest-icon"></i><span class="rest-phone">{{restaurant.phone_number}}</span>
                        </div>
                        <div class="rest-list-action">
                            <button pButton pRipple icon="pi pi-book" (click)="showRestDetail(restaurant)" label="View"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>    
    </div>
    <div *ngIf="viewUser">
        <button pButton pRipple type="button" icon="pi pi-times" label="Return" (click)="showRestaurantList()" class="p-button-text p-button-lg"></button>
        <div class="input-wrapper">
            <label class="header-label">Update your information below.</label>
            <span class="p-input-icon-left user-name-input">
                <i class="pi pi-search"></i>
                <input type="text" pInputText [(ngModel)]="ls.currentUser.user_name" placeholder="Username">         
            </span>
            <span class="p-input-icon-left user-name-input">
                <i class="pi pi-search"></i>
                <input type="text" pInputText [(ngModel)]="ls.currentUser.email" placeholder="Email">         
            </span>
            <span class="p-input-icon-left user-name-input">
                <i class="pi pi-search"></i>
                <input type="text" pInputText [(ngModel)]="ls.currentUser.password" placeholder="Password">         
            </span>
            <span class="p-input-icon-left user-name-input">
                <i class="pi pi-search"></i>
                <input type="text" pInputText [(ngModel)]="ls.currentUser.address" placeholder="Address">         
            </span>
            <span class="p-input-icon-left user-name-input">
                <i class="pi pi-search"></i>
                <input type="text" pInputText [(ngModel)]="ls.currentUser.phone_number" placeholder="Phone Number">         
            </span>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText [(ngModel)]="ls.currentUser.favorite_food" placeholder="Favorite Food">         
            </span>
            <button pButton pRipple type="button" label="Update" class="p-button-rounded p-button-lg submit"></button>
        </div>
    </div>
    <div *ngIf="viewRestDetail">
        <button pButton pRipple type="button" icon="pi pi-user" label="Return" (click)="showRestaurantList()" class="p-button-text p-button-lg"></button>
    </div>
</div>