.top-bar {
    height: 72px;
    width: 100vw;
    background-color: rgb(0, 119, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
        padding: 32px;
        font-size: 32px;
        color: white;
    }
    .profile-btn {
        color: white;
        padding-left: 32px;
        padding-right: 32px;
        border-left: 2px solid white;
    }
}
.home-body {
    width: 100vw;
    background-color:#efefef;
    .data-view {
        padding: 44px;
    }
    .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .user-name-input {
            margin-bottom: 48px;
        }
        .submit {
            margin-top: 36px;
            margin-bottom: 36px;
        }
        .header-label {
            font-size: 36px;
            color: rgb(0, 119, 255);
            margin-bottom: 36px;
        }
    }
}
.rest-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    .rest-list-detail {
        flex: 1 1 0;
        .rest-name {
            font-size: 1.5rem;
            font-weight: 700;
        }
        .rest-description {
            margin-bottom: 1rem;
        }
        .rest-icon {
            vertical-align: middle;
            margin-right: 0.5rem;
        }
        .rest-phone {
            font-weight: 600;
            vertical-align: middle;
        }
    }
    .rest-list-action {

    }
}
.rest-detail {
    .detail-header {
        display: flex;
        align-items: flex-start;
        .return {
            margin: 8px;
        }
        label {
            padding-top: 48px;
            padding-bottom: 6px;
            padding-left: 65px;
            font-size: 74px;
            font-weight: 700;
        }
    }
    .header-under {
        margin-left: 150px;
        .header-group {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 4px;
            i {
                padding-right: 1.5rem;
            }
        }
    }
    .detail-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 48px;
        .menu-header {
            width: 430px;
            margin-bottom: 32px;
        }
        .menu-container {
            padding: 12px;
            width: 70vw;
            border: 1px solid rgb(168, 168, 168);
            border-radius: 10px;
        }

    }
}